{{ define "content"}}

  


    <div id="top-menu-mobile" style="display:none;"> </div>
	
    <div id="sitePjaxMainContainer">
        <section id="top-section"
                 class="site-module site-promo-module-v2 bg-primary large-website style-19 twoSideCallAction  "
                 style="background: #000;">

            <div data-idele="parallax_promo_mirror_5f20daa37b62a" class=" promo-image-bg" data-parallax="scroll"
                 data-bleed="30" data-opacity="0.5" data-backgroundcolor="#333333" data-image-src="" data-filter=""
                 data-position="center center" data-background-position="center center"
                 style="background-image: url(/public/images/2000_5954b22f0e809.jpg);opacity:0.5;filter:;background-position:center center;"></div>

            <div class="container large-website" style="text-align:left;">
                <div class="flex">
                    <div class="start promo-width-70">
                        <h1 class="text promoText1 h4 weight400 aos-init aos-animate" data-aos="fade-up"
                            style="color:#ffffff;"><font><font>GoLang Web Framework</font></font></h1>
                        <h4 class="text promoText2 h2 weight700 aos-init aos-animate" data-aos="fade-up"
                            style="color:#ffffff;"><font><font>简洁、优雅的Golang Web开发框架</font></font></h4>
                        <p class="text promoText3 weight400 aos-init aos-animate" data-aos="fade-up"
                           style="color:#ffffff;">
                            <font>
                                <font>支持mysql,mssql等多类型数据库，它可以让你从面条一样杂乱的代码中解脱出来；它可以帮你构建一个完美的网络应用，而且每行代码都可以简洁、富于表达力。</font>
                            </font>
                        </p>
                        <div data-aos="fade-up" class="redirect-buttons-container aos-init aos-animate">

                            <a href="https://gitee.com/pangxianfei/tmaic-go"
                               class="buttonText btn btn-primary btn-xl btn-primary-transparent" style="color: #fff;"
                               target="_blank"><i class="fa fa-cloud-download" aria-hidden="true"></i>立即下载
							</a>

                            <a href="http://kuaping.com/member/sign_up.php" target="_blank"
                               class="button2Text btn btn-primary btn-xl  " target="_blank">
							   <i class="fa fa-gift" aria-hidden="true"></i> GitHub
							</a>

                        </div>
                    </div>

                </div>
            </div>
        </section>
		
        <div id="siteModulesContainer" class="site-modules-container">

            <section class="site-module site-module-services layout-6" style="order: 1;">
                <div data-aos="fade-up"
                     class="container-fluid page_header_style page_header_style_ aos-init aos-animate">
                    <div class="row">
                        <div class="container">
                            <div class="row modulesTitle">
                                <div class="col-xs-12 text-center">
                                    <h2 data-original-title="Features" class="site-page-header ">特色功能</h2>
                                    <hr class="small">
                                    <h4 class="site-page-slogan "></h4></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container aos-init aos-animate" data-aos="fade-up">
                    <!-- Adds top --->
                    <!-- Container --->
                    <div class="row text-center">
                        <div class="col-xs-12 col-sm-6 col-md-4 ">
                            <div class="service-item ">
                                <div class="service-img-container">
                                    <div class="fa-stack primary-color"><i
                                            class="fa fa-2x website-image-icon fa-bar-chart"></i></div>
                                </div>
                                <div class="service-text-container">
                                    <h4><strong>基于bootstrap</strong></h4>
                                    <p>基于主流的响应式框架bootstrap，方便升级</p>
                                    <a href="###" class="more-link " data-pjax-state="">了解更多 <i
                                            class="fa fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 ">
                            <div class="service-item ">
                                <div class="service-img-container">
                                    <div class="fa-stack primary-color"><i
                                            class="fa fa-2x website-image-icon fa-building-o"></i></div>
                                </div>
                                <div class="service-text-container">
                                    <h4><strong>大组件</strong></h4>
                                    <p>定义了上百组流行的页面组件，方便组合</p>
                                    <a href="##" class="more-link " data-pjax-state="">了解更多 <i
                                            class="fa fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 ">
                            <div class="service-item ">
                                <div class="service-img-container">
                                    <div class="fa-stack primary-color"><i
                                            class="fa fa-2x website-image-icon fa-mobile"></i></div>
                                </div>
                                <div class="service-text-container">
                                    <h4><strong>移动端友好</strong></h4>
                                    <p>每个组件都完美兼容移动端，不用担心手机下兼容性</p>
                                    <a href="###" class="more-link " data-pjax-state="">了解更多 <i
                                            class="fa fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 ">
                            <div class="service-item ">
                                <div class="service-img-container">
                                    <div class="fa-stack primary-color"><i
                                            class="fa fa-2x website-image-icon fa-youtube-play"></i></div>
                                </div>
                                <div class="service-text-container">
                                    <h4><strong>基于jQuery</strong></h4>
                                    <p>基于jQuery框架，扩展JS效果更容易</p>
                                    <a href="###" class="more-link " data-pjax-state="">了解更多 <i
                                            class="fa fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 ">
                            <div class="service-item ">
                                <div class="service-img-container">
                                    <div class="fa-stack primary-color"><i
                                            class="fa fa-2x website-image-icon fa-weixin"></i></div>
                                </div>
                                <div class="service-text-container">
                                    <h4><strong>搭载AOS.js</strong></h4>
                                    <p>默认搭载aos.js实现入场动画，页面更炫酷</p>
                                    <a href="###" class="more-link " data-pjax-state="">了解更多 <i
                                            class="fa fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 ">
                            <div class="service-item ">
                                <div class="service-img-container">
                                    <div class="fa-stack primary-color"><i
                                            class="fa fa-2x website-image-icon fa-cloud"></i></div>
                                </div>
                                <div class="service-text-container">
                                    <h4><strong>图片懒加载</strong></h4>
                                    <p>默认搭载lazyload.js实现图片懒加载，页面打开更快速</p>
                                    <a href="###" class="more-link " data-pjax-state="">了解更多 <i
                                            class="fa fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Adds bottom --->
                </div>
            </section>
            <section class="site-module site-module-jobs layout-1 bg-primary" style="order: 18;">
                <div data-aos="fade-up"
                     class="container-fluid page_header_style page_header_style_ aos-init aos-animate">
                    <div class="ro	w">
                        <div class="container">
                            <div class="row modulesTitle">
                                <div class="col-xs-12 text-center">
                                    <h2 class="site-page-header ">常见问题</h2>
                                    <hr class="small">
                                    <h4 class="site-page-slogan "></h4></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container aos-init aos-animate" data-aos="fade-up">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12" style="margin-bottom:20px;">
                            <h3><a href="/jobs/back-end-developer?w=3924620" class="">已经有bootstrap为什么还要kuapingUI？</a> -
                                <small>最关注的的问题</small> - <small>路人甲</small></h3>
                            <div class="responsive-handler fr-view breakable box-text-primary"
                                 style="margin-bottom: 20px;">
                                kuapingUI不是再造的一款框架，它只是对于bootstrap的小组件封装成“大组件”，比如“关于我们”，“联系我们”，“产品列表”，“新闻列表”等等，它非常有意义的一点在于，把bootstrap制作页面的时间缩短到了几分钟！
                            </div>
                            <div class="panel-group" id="accordion--224175802" role="tablist"
                                 aria-multiselectable="true">
                                <div class="panel box box-primary site-box-border"
                                     style="background-color: transparent;">
                                    <div class="heading" style="cursor:pointer" data-toggle="collapse"
                                         data-target="#requirements--224175802" role="tab">
                                        <h4 class="panel-title">kuapingUI可以商用吗？</h4></div>
                                    <div id="requirements--224175802" class="panel-collapse collapse" role="tabpanel"
                                         aria-labelledby="requirements-head--224175802">
                                        <div class="panel-body responsive-handler fr-view breakable box-text-primary">
                                            它完全免费开源，商用协议亲遵循bootstrap商用协议。
                                        </div>
                                    </div>
                                </div>
                                <div class="panel box box-primary site-box-border"
                                     style="background-color: transparent;">
                                    <div class="heading" style="cursor:pointer" data-toggle="collapse"
                                         data-target="#bonuses--224175802" data-parent="#accordion--224175802"
                                         role="tab" id="bonuses-head--224175802">
                                        <h4 class="panel-title">基于kuapingUI框架的案例有没有？</h4></div>
                                    <div id="bonuses--224175802" class="panel-collapse collapse" role="tabpanel"
                                         aria-labelledby="bonuses-head--224175802">
                                        <div class="panel-body responsive-handler fr-view breakable box-text-primary">
                                            有，案例可以查看 http://kuaping.com/company ，更多的使用案例欢迎自荐！
                                        </div>
                                    </div>
                                </div>
                                <div class="panel box box-primary site-box-border"
                                     style="background-color: transparent;">
                                    <div class="heading" style="cursor:pointer" data-toggle="collapse"
                                         data-target="#benefits--224175802" data-parent="#accordion--224175802"
                                         role="tab" id="benefits-head--224175802">
                                        <h4 class="panel-title">它兼容ie6，7，8吗？</h4></div>
                                    <div id="benefits--224175802" class="panel-collapse collapse" role="tabpanel"
                                         aria-labelledby="benefits-head--224175802">
                                        <div class="panel-body responsive-handler fr-view breakable box-text-primary">
                                            不兼容，这是由bootstrap所决定的，或者从另外一个角度来看响应式网站基于的css3多媒体查询技术开发而成的，而ie6，7，8是不支持css3的，这是根本原因。
                                        </div>
                                    </div>
                                </div>
                                <div class="panel box box-primary site-box-border"
                                     style="background-color: transparent;">
                                    <div class="heading" style="cursor:pointer" data-toggle="collapse"
                                         data-target="#responsibilities--224175802" data-parent="#accordion--224175802"
                                         role="tab" id="responsibilities-head--224175802">
                                        <h4 class="panel-title">它兼容手机端吗？</h4></div>
                                    <div id="responsibilities--224175802" class="panel-collapse collapse"
                                         role="tabpanel" aria-labelledby="responsibilities-head--224175802">
                                        <div class="panel-body responsive-handler fr-view breakable box-text-primary">
                                            kuapingUI提供的所有“大组件”都源于bootstrap组件以及它的12列删格系统，所以它能够完美兼容手机端。
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="jobsApplyBtn btn btn-primary" data-website-id="3924620"
                               href="https://gitee.com/pangxianfei/tmaic/issues" target="_blank">提交问题</a>
                        </div>

                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </section>
			
			
            <section class="site-module site-module-twitter-tweets layout-1 bg-primary" style="order: 42;">
                <div data-aos="fade-up" class="container-fluid page_header_style page_header_style_ aos-init">
                    <div class="row">
                        <div class="container">
                            <div class="row modulesTitle">
                                <div class="col-xs-12 text-center">
                                    <h2 class="site-page-header ">关注我们</h2>
                                    <hr class="small">
                                    <h4 class="site-page-slogan "></h4></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container aos-init" data-aos="fade-up">
                    <div class="text-center">

                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="box box-primary site-box-padding site-box-margin-bottom">
                                    <div class="tweet">

                                        <div class="tweet-header">
                                            <a href="#" target="blank" class="tweet-author-avatar"><img
                                                    src="/public/images/-8G6wH4U_normal.jpg"></a>
                                            <div class="tweet-author">
                                                <a href="https://weibo.com/kuapingwang" target="blank"
                                                   class="tweet-author-link">
                                                    <div class="tweet-author-name-screen-name-container"><span
                                                            class="tweet-author-name">跨屏网</span><span
                                                            class="tweet-author-screenName">@kuapingwang</span></div>
                                                </a>
                                            </div>
                                            <div class="tweet-brand">
                                                <a href="https://weibo.com/kuapingwang" target="blank"><i
                                                        class="fa fa-weibo fa-2x"></i></a>
                                            </div>
                                        </div>

                                        <div class="tweet-body">

                                            <p class="tweet-text breakable box-text-primary">跨屏网发布同名ui框架kuapingUI。</p>

                                            <div class="tweet-info-like"><span class="tweet-info-heart"><i
                                                    class="fa fa-heart"></i><span
                                                    class="tweet-info-heart-stat">1568</span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="box box-primary site-box-padding site-box-margin-bottom">
                                    <div class="tweet">

                                        <div class="tweet-header">
                                            <a href="#" target="blank" class="tweet-author-avatar"><img
                                                    src="/public/images/-8G6wH4U_normal.jpg"></a>
                                            <div class="tweet-author">
                                                <a href="https://gitee.com/kuapingwang/kuapingUI" target="blank"
                                                   class="tweet-author-link">
                                                    <div class="tweet-author-name-screen-name-container"><span
                                                            class="tweet-author-name">跨屏UI框架</span><span
                                                            class="tweet-author-screenName">@kuapingUI</span></div>
                                                </a>
                                            </div>
                                            <div class="tweet-brand">
                                                <a href="https://gitee.com/kuapingwang/kuapingUI" target="blank"><i
                                                        class="fa fa-github-alt  fa-2x"></i></a>
                                            </div>
                                        </div>

                                        <div class="tweet-body">

                                            <p class="tweet-text breakable box-text-primary">kuapingUI 1.0 版本发布，跨屏UI-bootstrap 大组件 ui 框架</p>

                                            <div class="tweet-info-like"><span class="tweet-info-heart"><i
                                                    class="fa fa-heart"></i><span
                                                    class="tweet-info-heart-stat">55668</span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

	</div>


{{ end }}






