:root {
        /*--global_main_color: #6f5499;*/
        --global_main_color: #0583F2;
        --home_text_color: #ffffff;
        --home_third_background_color: #000000;
        --home_custom_image_size: px;
        --home_text_size_px: 48px;
        --home_text_size_2_px: 26px;
        --slogan_text_size_px: 20px;
        --home_text_size: 48;
        --home_text_size_2: 26;
        --slogan_text_size: 20;
        --home_text_size_px_media: 48px;
        --home_text_size_2_px_media: 26px;
        --slogan_text_size_px_media: 20px;
        --layout_text_align: left;
        --layout_text_align_rtl: right;
        --layout_text_box_width: 100%;
        --layout_left_side_width: 50%;
        --layout_left_side_width_vh: 50vh;
        --homepage_layout_height: 100%;
        --homepage_layout_height_vh: 100vh;
        --homepage_layout_height_menu_space: 0px;
        --mainNavMobileHeight: 0px;
        --homepage_layout_height_opacity_space_top: 0px;
        --homepage_layout_height_opacity_space_bottom: 0px;
        --mobileMenuFontSize: 20px;
        --mobileMenuPagesSpace: 0px;
        --homepageShapeDividerList_Size: %;
        --homepage_goal_space: 0px;
        --homepage_second_goal_space: 0px;
        --layout_bottom_spacing: 0px;
        --window-height: 100vh;
        --window-width: 100vw;
        /*--menu_font_size: 13px;*/
        --menu_pages_space: 1px;
        /*--menu_pages_side_padding: 15px;
        --menu_pages_letter_spacing: 0.5px;
        --menu_pages_word_spacing: 0px;*/
    } 