  <div id="websiteHeader">
        <nav id="mainNav" class="hidden-xs  navbar-default navbar-fixed-top  opacity-no affix-top">
            <div class="container-fluid">
                <div class="navbar-header">

                    <a class="navbar-brand page-unique site-logo logo_name  weight700 " href="index.html">

                        <img src="/public/images/logo.png"/>

                    </a>
                    <p class="navbar-text">GoLang Web Framework<i class="fa fa-heart fa-rotate-90" style="color:red;"></i>，上手更快！
                    </p>
                </div>
                <div id="top-menu">
                    <ul class="navPages nav navbar-nav">
                        <li class="moduleMenu active">
                            <a class="page-unique " href="index.html"><span class="txt-container">首页</span></a>
                        </li>
                        <li class="moduleMenu">
                            <a class="page-unique  " href="Popular.html"><span class="txt-container">流行</span></a>
                        </li>

                        <li class="moduleMenu">
                            <a class="page-unique  " href="Text.html"><span class="txt-container">文本</span></a>
                        </li>
                        <li class="moduleMenu">

                            <a class="page-unique  " href="Promo.html"><span class="txt-container">巨幕</span></a>
                        </li>
                        <li class="moduleMenu">
                            <a class="page-unique  " href="Gallery.html"><span class="txt-container">画廊</span></a>
                        </li>
                        <li class="moduleMenu">
                            <a class="page-unique  " href="Contact.html"><span class="txt-container">联系</span></a>
                        </li>
                        <li class="moduleMenu">
                            <a class="page-unique  " href="Team.html"><span class="txt-container">团队</span></a>
                        </li>
                        <li class="moduleMenu">
                            <a class="page-unique  " href="Features.html"><span class="txt-container">特征</span></a>
                        </li>
                        <li class="moduleMenu">
                            <a class="page-unique  " href="Testimonials.html"><span class="txt-container">评价</span></a>
                        </li>
                        <li class="moduleMenu">
                            <a class="page-unique  " href="Restaurant.html"><span class="txt-container">点餐</span></a>
                        </li>
                        <!--<li class="moduleMenu">
                            <a class="page-unique  " href="Music.html"><span class="txt-container">音乐</span></a>
                        </li>-->
                        <li class="moduleMenu">
                            <a class="page-unique  " href="Articles.html"><span class="txt-container">文章</span></a>
                        </li>
                        <li class="moduleMenu">
                            <a class="page-unique  " href="Blog.html"><span class="txt-container">博客</span></a>
                        </li>
                        <li class="moduleMenu">
                            <a class="page-unique  " href="Sales.html"><span class="txt-container">商品</span></a>
                        </li>
                        <li class="moduleMenu">
                            <a class="page-unique  " href="Events.html"><span class="txt-container">大事记</span></a>
                        </li>
                        <li class="moduleMenu">
                            <a class="page-unique  " href="Faq.html"><span class="txt-container">常见问题</span></a>
                        </li>
                        <li class="moduleMenu">
                            <a class="page-unique  " href="Jobs.html"><span class="txt-container">招聘</span></a>
                        </li>
                        <li class="moduleMenu">
                            <a class="page-unique  " href="Booking.html"><span class="txt-container">预订</span></a>
                        </li>
                    </ul>
                    <ul class="navActions nav navbar-nav">


                        <li class="header-address-wrapper">
                            <a class="actionButton" role="button" data-toggle="aboutUs"><i
                                    class="fa fa-exclamation-circle" aria-hidden="true"></i></a>
                        </li>


                    </ul>
                </div>
            </div>
        </nav>
        <input type="hidden" id="stickyMenu" name="stickyMenu" value="on">
    </div>


    <nav id="mainNavMobile" class="navbar-fixed-top">
        <div class="navPagesLeft">
            <div class="header-menu-wrapper">
                <a data-close-location="left" data-menu-color="" data-menu-type="0" data-menu-align="center"
                   data-is-mobile="true" class="mobile-menu-btn actionButton" role="button"
                   data-toggle="menuCallActionIcons"><i class="fa fa-bars"></i></a>
            </div>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand page-unique  logo_name  weight700 " href="index.html">
                
                <img src="/public/images/logo.png"/>
            </a>
        </div>
        <div class="navPagesRight">
            <ul class="navActions nav navbar-nav">

                <li class="header-address-wrapper">
                    <a class="actionButton" role="button" data-toggle="aboutUs">
					<i class="fa fa-exclamation-circle" aria-hidden="true"></i></a>
                </li>

            </ul>
        </div>
    </nav>


<div id="popupFloatDivMenu" class="popupWin container  is-mobile oneColor ">
    <div class="cover"></div>
    <div class="content container">
        <div class="page" style="overflow: auto;">
            <ul class="navPagesPopup fancy-scrollbar" style="height: 271px;">
                <ul>
                    <li class="moduleMenu active">
                        <a class="page-unique homepageMenu" href="index.html"><span class="txt-container">首页</span></a>
                    </li>
                    <li class="moduleMenu">
                        <a class="page-unique  " href="Popular.html"><span class="txt-container">流行</span></a>
                    </li>
                    <li class="moduleMenu">
                        <a class="page-unique  " href="Header.html"><span class="txt-container">页头</span></a>
                    </li>
                    <li class="moduleMenu">
                        <a class="page-unique  " href="Footer.html"><span class="txt-container">页脚</span></a>
                    </li>
                    <li class="moduleMenu">
                        <a class="page-unique  " href="Text.html"><span class="txt-container">文本</span></a>
                    </li>
                    <li class="moduleMenu">

                        <a class="page-unique  " href="Promo.html"><span class="txt-container">促销</span></a>
                    </li>
                    <li class="moduleMenu">
                        <a class="page-unique  " href="Gallery.html"><span class="txt-container">画廊</span></a>
                    </li>
                    <li class="moduleMenu">
                        <a class="page-unique  " href="Contact.html"><span class="txt-container">联系</span></a>
                    </li>
                    <li class="moduleMenu">
                        <a class="page-unique  " href="Team.html"><span class="txt-container">团队</span></a>
                    </li>
                    <li class="moduleMenu">
                        <a class="page-unique  " href="Features.html"><span class="txt-container">特征</span></a>
                    </li>
                    <li class="moduleMenu">
                        <a class="page-unique  " href="Testimonials.html"><span class="txt-container">评价</span></a>
                    </li>
                    <li class="moduleMenu">
                        <a class="page-unique  " href="Restaurant.html"><span class="txt-container">点餐</span></a>
                    </li>
                    <li class="moduleMenu">
                        <a class="page-unique  " href="Music.html"><span class="txt-container">音乐</span></a>
                    </li>
                    <li class="moduleMenu">
                        <a class="page-unique  " href="Articles.html"><span class="txt-container">文章</span></a>
                    </li>
                    <li class="moduleMenu">
                        <a class="page-unique  " href="Blog.html"><span class="txt-container">博客</span></a>
                    </li>
                    <li class="moduleMenu">
                        <a class="page-unique  " href="Sales.html"><span class="txt-container">销售</span></a>
                    </li>
                    <li class="moduleMenu">
                        <a class="page-unique  " href="Events.html"><span class="txt-container">大事记</span></a>
                    </li>
                    <li class="moduleMenu">
                        <a class="page-unique  " href="Schedule-Booking.html"><span
                                class="txt-container">预定预订</span></a>
                    </li>
                </ul>
            </ul>
            <div class="navPagesPopupActionButtons">
                <div class="navPagesPopupActionButtons_part1">

                    <a class="actionButton" data-toggle="aboutUs">
					<i class="fa fa-exclamation-circle" aria-hidden="true"></i></a>

                </div>
            </div>
        </div>
    </div>
    <div class="popupCloseButton left"><i class="fa fa-close fa-3x"></i></div>
</div>